<div class="loginContainer">
  <div class="loginBox">
    <div class="loginImage">
      <img src="../assets/img/login.png" alt="Login" />
    </div>

    <div class="loginForm">
      <img src="assets/img/logo.png" class="logo" alt="Logo" />
      <h2>{{ "Hello" | translate }}</h2>
      <p>{{ "Welcome" | translate }}</p>

      <form
        nz-form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form_holder"
      >
        <nz-form-item class="input_holder_full-width">
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="price" nzRequired>
            {{ "Email" | translate }}
          </nz-form-label>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            [nzErrorTip]="'EmailRequired' | translate"
          >
            <input
              nz-input
              id="email"
              formControlName="email"
              placeholder="johndoe@email.com"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="input_holder_full-width">
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="password" nzRequired>{{
            "Password" | translate
          }}</nz-form-label>
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="{{ 'PasswordRequired' | translate }}"
          >
            <input
              nz-input
              type="password"
              id="password"
              (keyup.enter)="onSubmit()"
              formControlName="password"
              placeholder="{{ 'EnterYourPassword' | translate }}"
            />
          </nz-form-control>
        </nz-form-item>

        <div class="btnBox">
          <button type="submit" class="Primary_fill" nz-button>
            {{ "Login" | translate }}
          </button>
        </div>
      </form>

      <a class="forgotPassword" href="#">Forgot Password?</a>
    </div>
  </div>

  <ng-template #userIcon><i nz-icon nzType="user"></i></ng-template>
  <ng-template #lockIcon><i nz-icon nzType="lock"></i></ng-template>
</div>
