.Primary_fill {
    @include btn(linear-gradient(94.74deg, #CBA51C 8.56%, #F7B834 94.64%), white, linear-gradient(94.74deg, #CBA51C 8.56%, #F7B834 94.64%));
    border: none;
    

}



button:focus {
    outline: none;
}